*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
}/* RESETEO CSS */

nav{
    padding: 0px 30px;
}

.header{
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ed6509;
    font-family: 'Fredoka One', cursive;    
    color:#083b66;
    font-size: 16px;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 16px;
    width: 100vw;
}

.header__logo{
    justify-content: flex-start;
    width: 60px;
    height: 60px;
}

.header__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;/* la propiedad hace que haya un punto otro elemento o nada frente a la viñeta */
    padding: 0 16px;
}


.header__item {
    color: #083b66;
    text-decoration: none;
}

main{
    display: flex;/* MAIN SE VUELVE AUTOMATIAMENTE PADRE DECLARANDO DISPLAY: FLEX (POR DEFECTO SIEMPRE VA A TENER LA PROP DIRECTION ROW) */
    flex-wrap: wrap;
    width: 100vw; /* VIEW WIDTH */
    padding: 10px;
}

h1{
    font-family: 'Fredoka One', cursive;   
    color:#083b66;
    font-size: 25px;
    padding: 0px 16px;
    text-align: center;
}

h3{
    font-family: 'Fredoka One', cursive;   
    color:#083b66;
    font-size: 20px;
    padding: 0px 16px;
    text-align: center
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 16px;
}

.principal{
    padding: px 16px;
}

.principal__titulo{
    font-family: 'Fredoka One', cursive;   
    color:#083b66;
    font-size: 25px;
    padding: 0px 16px;
    text-align: center;
}

.principal__titulo--galeria{
    font-family: 'Fredoka One', cursive;   
    color:#083b66;
    font-size: 25px;
    padding: 0px 16px;
    margin-left: 580px;
}

.lugares__titulo{
    flex-direction: column;
    font-family: 'Fredoka One', cursive;   
    color:#083b66;
    font-size: 25px;
    padding: 0px 16px;
    margin-left: 520px;
}

.principal__subtitulo{
    font-family: 'Fredoka One', cursive;
    color:#083b66;
    font-size: 20px;
    padding: 0px 16px;

}

.principal__parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 16px;
}

.principal__span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 16px
}

.principal__img{
    width: 300px;
    height: 300px;
    padding: 0px 16px;
}



.galeria__index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(112, 56, 117);
    margin: 10px;
    padding: 10px;
}

.galeria__img {
    width: 300px ;
    height: 300px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px;
}

.galeria__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr ; /* unidad grid: fr 1/3*/
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"alta_montana cacheuta bodega"
                        "alta_montana cacheuta bodega"
                        "alta_montana cristo_redentor carpa_aconcagua"
                        "parque_otono cristo_redentor carpa_aconcagua"
                        "parque_otono vinedos_montana puente_del_inca"
                        "valle_grande vinedos_montana puente_del_inca"
                        "valle_grande vinedos_montana puente_del_inca";
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(112, 56, 117);
}

.alta_montana {
    grid-area: alta_montana;
    background-image: url('../resources/alta_montana.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cacheuta {
    grid-area: cacheuta;
    background-image: url('../resources/cacheuta.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bodega {
    grid-area: bodega;
    background-image: url('../resources/bodega.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cristo_redentor {
    grid-area: cristo_redentor;
    background-image: url('../resources/cristo_redentor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carpa_aconcagua {
    grid-area: carpa_aconcagua;
    background-image: url('../resources/carpa_aconcagua.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parque_otono {
    grid-area: parque_otono;
    background-image: url('../resources/parque_otono.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.puente_del_inca {
    grid-area: puente_del_inca;
    background-image: url('../resources/puente_del_inca.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.valle_grande {
    grid-area: valle_grande;
    background-image: url('../resources/valle_grande.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vinedos_montana {
    grid-area: vinedos_montana;
    background-image: url('../resources/vinedos_montana.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel__size{
    width: 50%;
    height: 50%;
    margin-left: 315px;
}

.lugares__img{
    width: 300px ;
    height: 300px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px
}

.form__nombre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 16px;
}

.form__email{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 16px;
}

.form__textarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 16px;
}

.form__envio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 16px;/* 0px 16px minimo permitido para separar de los bordes */
}

.ubicacion{
    padding: 0 16px;
}

.ubicacion__mapa{
    padding: 0 16px;
    width: 300px;
    height: 300px;
}

.footer__fondo {
    background-color: #ed6509;
    padding: 0 16px;
}

.footer__derechos{
    padding: 0 16px;
}

/* media querie celular 
99.9% SIEMPRE DEBE HABER UNA SOLA COLUMNA
0.1% son galerias cuadriculadas que pueden tener hasta 3 columnas*/
@media (min-width: 320px) and (max-width: 575px) {
    
}

/* media querie tablet */
@media (min-width: 576px) and (max-width: 992px) {
    
}

/* VIEWPORT WIDTH HEIGTH
VIEWPORT WIDTH -> 100VW
VIEWPORT HEIGTH -> 100VH */
